src/main/mule/employees-api.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:validation="http://www.mulesoft.org/schema/mule/validation"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xsi:schemaLocation="
		http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
		http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
		http://www.mulesoft.org/schema/mule/validation http://www.mulesoft.org/schema/mule/validation/current/mule-validation.xsd
		http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">

	<flow name="employees-main" doc:id="d33ecedc-5f53-4995-be0e-fcb4063a03ee">
		<http:listener doc:name="GET /employees" doc:id="00e7633a-22f1-4c89-adda-34845a55dbd3" config-ref="httpListenerConfig" path="/employees" allowedMethods="GET" />
		
		<logger level="INFO" doc:name="Log Request" doc:id="5745b0f1-cedb-4aaf-907e-d1442d827f8f" message="Received request for employees with employeeCount: #[attributes.queryParams.employeeCount default 'not provided']" />
		
		<!-- Validation Logic -->
		<validation:is-not-null doc:name="Validate employeeCount is not null" doc:id="5c3aee36-d948-4464-97e8-1665b4fb9a81" value="#[attributes.queryParams.employeeCount]" message="employeeCount query parameter is required" config-ref="validationConfig" />
		
		<validation:is-number doc:name="Validate employeeCount is number" doc:id="91193172-d5ef-444f-8bd2-60d539963719" value="#[attributes.queryParams.employeeCount]" numberType="INTEGER" message="employeeCount must be a valid number" config-ref="validationConfig" />
		
		<set-variable value="#[attributes.queryParams.employeeCount as Number]" doc:name="Set employeeCount Variable" doc:id="978b09f1-5f30-4aec-9d22-25fccd857cec" variableName="employeeCount" />
		
		<validation:is-true doc:name="Validate positive integer" doc:id="1037a27b-85a9-4845-8006-da996a188cd5" expression="#[vars.employeeCount &gt; 0]" message="employeeCount must be a positive integer greater than 0" config-ref="validationConfig" />
		
		<validation:is-true doc:name="Validate max limit" doc:id="e8c2853a-ee6e-4874-b098-706be30dbdcd" expression="#[vars.employeeCount &lt;= (p('api.employees.maxCount') as Number)]" message="#['employeeCount cannot exceed maximum limit of ' ++ p('api.employees.maxCount')]" config-ref="validationConfig" />
		
		<logger level="INFO" doc:name="Log Validation Success" doc:id="8ed91feb-af0b-4cb0-8a3e-85f8d1521604" message="Validation successful. Generating #[vars.employeeCount] employees" />
		
		<!-- Generate Employee Data -->
		<ee:transform doc:name="Generate Employees" doc:id="08c443f1-80fb-4126-9cea-404be82dfbe5">
			<ee:message>
				<ee:set-payload resource="dwl/generate-employees.dwl" />
			</ee:message>
		</ee:transform>
		
		<logger level="INFO" doc:name="Log Response" doc:id="8d773264-27cc-4790-8163-93ae39c92a0f" message="Successfully generated #[sizeOf(payload)] employee records" />
		
		<!-- Set Response Headers -->
		<set-variable value="200" doc:name="Set Success Status" doc:id="2036dc7b-4c33-45be-8f07-259a89575896" variableName="httpStatus" />
		
		<error-handler ref="globalErrorHandler" />
	</flow>

</mule>